a:hover {
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.welcome {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  height: 200px;
  width: 200px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  border: 8px solid #fff;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.welcome:hover {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
