body {
  margin: 0;
}

.vis-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
}

.vert-center {
  color: #fff;
  font-family: sans-serif;
  margin: 5px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: calc(50vh - 83px);
  left: calc(50vw - 83px);
  height: 150px;
  width: 150px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 50%;
  border: 8px solid #ef32ff;
  box-shadow: 0 0 30px #ef32ff;
  text-align: center;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.welcome:hover {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}
