a:hover {
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
}

.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-child {
  margin: auto;
}

.vert-center {
  margin: auto;
}

.main-container {
  height: 100vh;
  width: 100vw;
}

.welcome {
  height: 200px;
  width: 200px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  border-color: #fff;
  border-width: 8px;
  border-style: solid;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.welcome:hover {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.background-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
